.CommCard {
  box-sizing: border-box;
  background: #727272;
  min-height: 50px;
  margin: 0px 0px;
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100%;
  min-width: 0px;
}

.CommCard .pfp {
  align-self: flex-start;
  height: 45px;
  width: 45px;
  border-radius: 100%;
  object-fit: cover;
  margin-right: 10px;
}

.CommCard .commentContent {
  box-sizing: border-box;
  min-width: 0px;
  width: 100%;
}

.CommCard .commentContent p {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
  overflow-wrap: break-word;
  margin: 0px;
  font-size: 0.9em;
}

.CommCard .commentContent h4 {
  margin: 0px;
}

.CommCard .commDelete {
  align-self: flex-start;
}

.lastComm {
  border-radius: 0px 0px 10px 10px;
}

.CommCard .commDate {
  font-size: 0.8em;
  color: black;
}
