.NewComment {
  box-sizing: border-box;
  background-color: #242424;
  width: auto;
  padding: 0px 8px;
  border-radius: 15px;
  margin: 10px 0px;
  display: flex;
  border: solid #242424 2px;
  color: whitesmoke;
  align-items: center;
}

.NewComment #comment {
  box-sizing: border-box;
  background-color: #242424;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: auto;
  border: none;
  box-shadow: none;
  outline: none;
  color: whitesmoke;
}

.NewComment input:-webkit-autofill,
.NewComment input:-webkit-autofill:hover,
.NewComment input:-webkit-autofill:focus {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: #242424;
  -webkit-text-fill-color: whitesmoke;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

.NewComment #comment:focus {
  color: white;
  border: none;
  box-shadow: none;
  outline: none;
}

.NewCommentFocus {
  border: asolid blue 2px;
}

.NewComment #commentSubmit {
  border-radius: 100%;
  height: 25px;
  width: 25px;
}
