.project-name-input,
.project-description-input,
.project-image-input {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 34px;
}

.project-name-input label,
.project-description-input label,
.project-image-input label {
  width: fit-content;
  display: block;
  color: #ffffff;
  font-weight: bold;
}

.project-name-input input,
.project-description-input textarea,
.project-image-input input {
  height: 24px;
  width: 200px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid#589bc1;
  background-color: transparent;
  color: #ffffff;
}
.project-name-input input:focus,
.project-description-input textarea:focus,
.project-image-input input:focus {
  /* outline: none; */
  outline: 3px solid purple;
  border-radius: 5px;
}
.project-description-input textarea {
  height: 60px;
  width: 200px;
}

.NewProjectForm input[type="submit"] {
  margin-bottom: 34px;
}
