.PostCard {
  box-sizing: border-box;
  width: 100%;
  margin: 10px 0px;
}

.PostCard .postContainer {
  border-radius: 10px 10px 0px 0px;
  background: #484848;
  display: flex;
  align-items: center;
  padding: 5px;
}

.PostCard .projectPfp {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  padding: 5px;
  object-fit: cover;
  align-self: flex-start;
}

.PostCard .postContent {
  box-sizing: border-box;
  width: 100%;
  min-width: 0px;
}

.PostCard .postContent h3 {
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
  color: white;
  max-width: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
}

.PostCard .postContent p {
  margin: 0px;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

.PostCard .postDate {
  margin-left: 5px;
  display: inline-flex;
  height: auto;
  align-items: center;
  font-size: 0.65em;
  color: grey;
}

.PostCard .postTitle {
  display: flex;
  align-items: center;
}

.PostCard .deleteButton {
  align-self: flex-start;
}

.OnlyPost .postContainer {
  border-radius: 10px;
}

.PostCard .likeButton {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.PostCard .likeButton:hover {
  cursor: pointer;
}
