.PostSection {
  box-sizing: border-box;
  width: 100%;
  margin-top: 10px;
}

.PostSection .newPost {
  width: 100%;
  text-align: center;
  font-size: 1.65em;
  padding: 7.5px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}
