.edit-image-input, 
.edit-username-input,
.edit-password-input, 
.edit-email-input,
.edit-details-input{
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 34px;
}

.edit-image-input label, 
.edit-username-input label,
.edit-password-input label, 
.edit-email-input label,
.edit-details-input label{
    width: fit-content;
    display: block;
}


.edit-image-input input, 
.edit-username-input input,
.edit-password-input input, 
.edit-email-input input,
.edit-details-input input{
    height: 24px;
    width: 200px;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type="submit"]{
    margin-bottom: 34px;
}