.Project {
  box-sizing: border-box;
  box-shadow: 2px 4px 8px #447693;
  display: flex;
  /* border: 1px solid black; */
  /* padding: 10px; */
  max-width: 100%;
  min-width: 0px;
  width: 100%;
  height: 150%;
  scroll-behavior: smooth;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  background-color: #1a2835;
  border-radius: 5px;
  color: white;
}

.Project .projectContent {
  box-sizing: border-box;
  /* margin-left: 20px; */
  padding: 0px 20px;
  height: 100%;
  width: 100%;
}

.Project .readWrap{
  display: flex;
  justify-content: flex-end;
}

.Project img {
  --width: 80px;
  --height: 100%;
  filter: hue-rotate(180deg);
}


.Project img {
  box-sizing: border-box;
  height: var(--height);
  width: var(--width);
  object-fit: cover;
  /* margin-right: 10px; */
  border-radius: 5px 0px 0px 5px;
}

.Project .projectContent p {
  box-sizing: border-box;
  /* height: calc(100% - 10px); */
  width: 100%;
  /* height: calc(100% - 20px); */
  margin: 0px;
  margin-bottom: 10%;
  height: 70px;
  max-height: 70px;
  overflow: scroll;
  text-align: left;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Project .projectContent button {
  border-radius: 5px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  background-color: transparent;
  border: 1.5px solid #9634c5;
  color: white;

}

.Project ::-webkit-scrollbar {
  display: none;
}
.Project h3 {
  box-sizing: border-box;
  font-size: calc(0.9vw + 20.5px);
  height: auto;
  width: 80%;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-right: 35px;
}

@media screen and (min-width: 719px) {
  .Project .projectContent p {
    height: calc(100% - 30px);
  }
}

@media screen and (min-width: 1000px) {
  .Project .projectContent p {
    height: calc(100% - 40px);
  }
}
