.Nav {
  position: absolute;
  height: 70px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  background-color: #313131;
}
/* .Nav img {
  display: inline-block;
  padding: 0px 2.5%;
  margin: 0px 2.5%;
  max-height: 24px;
  min-height: 18px;
  height: 5vw;
} */
.Nav div {
  display: inline-block;
  padding: 0px 2.5%;
  margin: 0px 2.5%;
  max-height: 24px;
  min-height: 18px;
  height: 5vw;
  transform: scale(1.5);
}

.Nav div svg {
  stroke: white;
}

.Nav img:hover {
  cursor: pointer;
}

.Nav .TopBarM {
  display: none;
}

@media screen and (min-width: 719px) {
  .Nav {
    top: 0px;
    padding: 0 5%;
  }
  .Nav .TopBarM {
    display: flex;
    justify-content: flex-start;
  }

  .Nav img {
    margin: 0px 0.75%;
    padding: 0px 0.75%;
    max-height: 30px;
  }

  .Nav .TopBarM img {
    padding: 0px 1.5%;
  }

  .Nav .TopBarM .back-button {
    position: relative;
    margin: 0px;
  }

  .Nav .TopBarM .topLogo {
    max-height: 50px;
    height: 50px;
  }
}
