.TopBarM {
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TopBarM .topLogo {
  height: 50px;
  width: auto;
}

.TopBarM .back-button {
  margin-left: 5%;
  position: absolute;
  left: 0px;
  height: 30px;
}
