.TopBarM {
  box-sizing: border-box;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #313131;
}

.TopBarM .topLogo {
  height: 50px;
  width: auto;
}

.TopBarM .back-button {
  margin-left: 5%;
  position: absolute;
  left: 0px;
  height: 30px;
}

.TopBarM img:hover {
  cursor: pointer;
}

.arrow-back-circle{
  margin-left: 5%;
  position: absolute;
  left: 0px;
  top: 20px;
  height: 30px;
  transform: scale(4);
  stroke: white;
  stroke-width: .6;
}
@media screen and (min-width: 719px) {
  .TopBarM {
    display: none;
  }
}

