.App {
  text-align: center;
  height: 100%;

  background-color: #313131;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  box-sizing: border-box;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: calc(100% - 140px);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}
body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

@media screen and (min-width: 719px) {
  .App-header {
    padding-top: 70px;
    height: 100%;
  }
}
