.LandingPage {
  box-sizing: border-box;
  height: calc(100% - 140px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0px 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
  display: grid;
  grid-template-rows: 3fr, 1fr, 1fr, 1fr, 2fr;
  padding-top: 125px;
  padding-bottom: 125px;
  justify-content: center;
}
.LandingPage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
}

.LandingPage button {
  height: 55px;
  width: 264px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 5px;
  font-size: 24px;
}

.LandingPage .Explore {
  background-color: #589bc1;
  border: 1px solid black;
}

.LandingPage .SignIn {
  border: 1px solid #589bc1;
}

.LandingPage .NewAccount {
  border: 1px solid #9634c5;
}
