.UserSignIn {
  box-sizing: border-box;
  height: calc(100% - 140px);
  width: 100%;
  padding-top: 25%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.UserSignIn::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 719px) {
  .UserSignIn {
    height: 100%;
    padding-top: 70px;
  }
}

.username-input,
.password-input,
.button {
  color: antiquewhite;
}

.button2 {
  font-size: 20px;
  border-radius: 5px;
  background-color: #313131;
  border: 2px solid #9633c5;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

.username-input input,
.password-input input {
  background-color: transparent;
}

.button {
  font-size: 20px;
  border-radius: 5px;
  background-color: #589bc1;
}
